@font-face {
    font-family: 'Wide';
    src: url(fonts/bw.ttf) format('truetype');
}
@font-face {
    font-family: 'Bold';
    src: url(fonts/bb.ttf) format('truetype');
}
@font-face {
    font-family: 'Regular';
    src: url(fonts/rt.ttf) format('truetype');

}
@font-face {
    font-family: 'Default';
    src: url(fonts/dw.otf) format('opentype');
}
.content {
    opacity: 0;
    transform: translateY(20px); 
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s; 
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;

}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
h1 {
    color:red;
    display: flex;
    justify-content: center;
    font-family: 'Wide', monospace;
    font-size: xx-large;
    margin: 0;
    padding: 0;
    margin-top: 15%;
}
h2 {
    display: flex;
    justify-content: center;
    font-family: 'Bold', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    margin-top: 0%;
}
h2 a {
    text-decoration: none;
    color: #ffffff;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 0.7rem;
    margin-left: 2%;
    margin-top: 27%;
}
.container svg{
    justify-content: left;
    align-items: left;
    display: inline-block;
    color: #FFFFFF;
}
.container a svg{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Regular', sans-serif;
    font-size: small;
    margin-top: 0%;
}
.container a svg:hover {
    color: rgb(121, 121, 121);
    transform: scale(0.9);
}
footer {
    display: flex;
    justify-content: flex-end;
    font-family: 'Regular', sans-serif;
    font-size: small;
    margin-left: 2%;
    margin-top: -0.95%;
}
.footer-content {
    margin-right: 2%;     
}
footer a {
    color: #FFFFFF;
    text-decoration: none;
}